@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-inter;
  @apply font-ibm-plex-serif;
}

.react-calendar {
  background-color: #171717;
  color: #ededed;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-family: inherit;
  line-height: 1.125em;
}

.react-calendar__tile {
  height: 40px;
  border-radius: 6px;
  color: #ededed;
  transition: background-color 0.3s ease;
}
/* Highlight on hover and active state */
.react-calendar__tile:enabled:hover,
.react-calendar__tile--active {
  background-color: #667085;
  color: white;
  border-radius: 6px;
}

.react-calendar__tile--disabled {
  color: #555555;
}

.react-calendar__navigation button {
  background-color: #171717;
  color: #ededed;
  min-width: 44px;
  border-radius: 6px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.react-calendar__navigation button:hover {
  background-color: #667085;
  color: white;
}

.react-calendar__navigation {
  margin-bottom: 10px;
}

.react-calendar__navigation__label {
  font-weight: bold;
}

.react-calendar__month-view__weekdays {
  color: #c0c0c0;
}

.react-calendar__month-view__days {
  border-top: 1px solid #444444;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.list-items {
  list-style-type: none;
  text-decoration: none;
}

.gradient-background {
  background: linear-gradient(to bottom, #171717 0%, #0a0a0a 50%, #0a0a0a 100%);
  width: 100%;
  height: 100%;
}
